@import "tailwindcss";
@keyframes float-slow {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.animate-float-slow {
  animation: float-slow 6s ease-in-out infinite;
}
